/********* Шрифты */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');
@import url('https://fonts.googleapis.com/css?family=Righteous');


*,
*::before,
*::after,
.header,
.head_nav__link,
.main_slider,
.privilege,
.price_list,
.photos,
.main_form,
.footer {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

/********* разметка */
/* шапка */

header {
    background: #000000;
}

.logo {
    margin-right: 20%;
    width: 165px;
}

.logo__img {
    position: absolute;
    width: 102.48px;
    height: 102.48px;
    background: #CA4040;
    box-sizing: content-box;
    border: solid 30.75px #CA4040;
    margin-right: 20%;
    z-index: 1;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    margin: auto;
    width: 100%;
    max-width: 1140px;
}

.nav_head {
    display: flex;
    margin-left: auto;
}

.head_nav__link {

    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 33px 10px;
    transition: color 0.5s;
}

.head_nav__link:hover {
    color: #CA4040;
}

/* мобильное меню */
.burger_btn {
    display: none;
}

.nav_mobile {
    display: none;
}

.head_nav__logo {
    height: 102.48px;
    background: #000000e3;
    box-sizing: content-box;
}

.nav_mobile__bg {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav_mobile__menu {
    width: 200px;
    height: 500px;
    background-color: #000000e3;
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: transform 0.2s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
}

.nav_mobile.nav_mobile-active .nav_mobile__menu {
    transform: translateX(0%);
}

.nav_mobile.nav_mobile-active .nav_mobile__bg {
    display: block;
    z-index: 1;
}

.burger_btn {
    background: black;
    border: 0;
    outline: 0;
}

/********* слайдер ************/
.main_slider {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main_slider__slide.first {
    background: url(../Paintball/slider1.jpg) 50% 50% no-repeat;
    background-size: cover;
    box-shadow: inset 0px -60px 50px rgba(0, 0, 0, 1);
}

.main_slider__slide.second {
    background: url(../Paintball/slider2.jpeg) 50% 50% no-repeat;
    background-size: cover;
    box-shadow: inset 0px -60px 50px rgba(0, 0, 0, 1);
}

.main_slider__slide_content {
    max-width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 210px 0 260px 0;
    max-width: 1140px;

    transition: 1s;
    transition-delay: 0.5s;
    opacity: 0;
    transform: translateY(100px);
}

.slick-active .main_slider__slide_content {
    opacity: 1;
    transform: translateY(0);
}

.main_slider__arrow {
    opacity: 0.5;
    background: #00000000;
    border: 0;
    outline: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 1;
}

.main_slider__arrow.right {
    transform: rotateY(180deg);
    left: inherit;
    right: 0;
}

.main_slider__arrow.right:active {
    transform: translateX(3px) rotateY(180deg);
}

/* информация */

.main_slider__info {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 210px 0 260px 0;
    max-width: 1140px;
    margin-right: auto;
}

.slider_info__text {
    margin: 8px 0;
}

.slider_info__text.up,
.slider_info__text.midle,
.slider_info__text.up2 {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

.slider_info__text.midle {
    color: #CA4040;
}

.slider_info__text.down {
    color: #fff;
    margin: 20px 0;
}

.slider_info__btn,
.prices__btn,
.form_block__btn {
    margin-top: 10%;
    padding: 13px 50px;
    background: #CA4040;
    width: fit-content;
    border: 0;
    outline: 0;
    border-radius: 3px;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
}

.slider_info__btn:active,
.prices__btn:active,
.form_block__btn:active {
    transform: translateY(3px);
}

.photos_slider__arrow:active {
    transform: translateX(3px);
}

.main_slider__arrow:active {
    transform: translateX(-3px);
}

/* номер телефона */
.phone_number {
    position: fixed;
    font-family: Righteous;
    right: 0;
    bottom: 65px;
    font-size: 20px;
    color: #fff;
    padding: 20px 35px;
    background: rgba(202, 64, 64, 0.7);
    z-index: 1000;
}

.phone_number::before {
    content: "";
    position: absolute;
    left: -60px;
    top: 0;
    width: 60px;
    height: 60px;
    background: url(../Paintball/hand-with-smartphone.png) no-repeat #CA4040;
    background-size: contain;
    border: solid 5px #CA4040;
}

/* *********************** блок с привилегиями */
/* text */
.privilege {
    background: #000000;
}


.privilege__h2,
.privilege__p {
    text-align: center;
    text-transform: none;
    font-size: 18px;
    line-height: 26px;

}

.privilege__h2 {
    font-size: 48px;
    margin-bottom: 50px;
    padding-top: 15px;
}

/* images */
.privilege_images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1140px;
    margin: -35px auto 0 auto;
}

.privilege_img__clock,
.privilege_img__party,
.privilege_img__gun,
.privilege_img__weather {
    position: relative;
    height: 424px;
    width: 285px;
    background: url(../Paintball/blood-splatter-by-vexels.png) 50% 50% no-repeat;
    background-size: cover;
    margin: auto;
}

.privilege_img__clock,
.privilege_img__party {
    transform: rotateY(180deg);
}

.privilege_img__clock::before,
.privilege_img__gun::before,
.privilege_img__party::before,
.privilege_img__weather::before {
    content: "";
    position: absolute;
    left: 61px;
    top: 135px;
    width: 165px;
    height: 165px;
    background: #050109;
    border: 2px solid #FFFCFC;
    border-radius: 85px;
    background-size: contain;
}

.privilege_img__clock::after {
    background: url(../Paintball/24-hours.png) no-repeat;
}

.privilege_img__gun::after {
    background: url(../Paintball/icons8-paintball-gun-50.png) no-repeat;
}

.privilege_img__party::after {
    background: url(../Paintball/icons8-crowd-80.png) no-repeat;
}

.privilege_img__weather::after {
    background: url(../Paintball/Без\ имени-1.png) no-repeat;
}

.privilege_img__clock::after,
.privilege_img__gun::after,
.privilege_img__party::after,
.privilege_img__weather::after {
    content: "";
    position: absolute;
    top: 184px;
    left: 113px;
    width: 67px;
    height: 67px;
    background-size: contain;
}

.privilege_img__clock::after,
.privilege_img__party::after {
    transform: rotateY(180deg);
}


.privilege_img__p {
    margin-top: -55px;
    text-align: center;
    font-size: 18px;
    line-height: normal;
    margin-bottom: 45px;
}

/* ******************прайс лист (картинки с услугами) */
.price_list {
    display: flex;
}

.price_block {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    position: relative;
    display: flex;
    justify-content: center;
}

.price_block__img {
    width: 100%;
    height: 100%;
}

.price_name {
    position: absolute;
    bottom: 0px;
    border-bottom: 50px solid rgba(202, 64, 64, 0.7);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    height: 0;
    width: 80%;
    text-align: center;
}

.price_name__span {
    position: relative;
    top: 12px;
    width: 100%;
    font-size: 20px;
}

.price_name__span span {
    font-size: 25px;
}

/* ховер прайс листа */
.prices {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(5, 1, 9, 0.8);
    text-align: center;
    line-height: 40px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;

    display: flex;
    flex-direction: column;
}

.price_block:hover .prices {
    visibility: visible;
    opacity: 1;
}

.prices__text {
    text-transform: none;
    margin: auto;
}

.prices__btn {
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
    display: block;
    margin: auto;
}

/* ******** слайдер с фото *********************/
.photos {
    position: relative;
    width: 100%;
    background: url(../Paintball/GfCF6F8zDn.jpg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photos__h2 {
    position: absolute;
    top: 35px;
    font-size: 48px;
    text-transform: none;
    color: #D9DADD;
}

.photos_slider__arrow {
    background: 0;
    border: 0;
    outline: 0;
}



.photos_slider__arrow.left {
    transform: rotateY(180deg);
}

.photos_slider__arrow.left:active {
    transform: rotateY(180deg) translateX(3px);
}

.photos_slider {
    display: flex;
    max-width: 1140px;
    justify-content: center;
    margin: 205px 40px;
    align-items: center;
}

.photos_slider__img {
    width: 33%;
    height: 100%;
}

.photos_slider__img:nth-child(2) {
    transform: scale(1.5);
}

/* **форма бронирования***************** */
.main_form {
    position: relative;
    background: url(../Paintball/7-51.jpg) no-repeat 50% 30%;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.form {
    position: relative;
    background: #000000c4;
    width: 700px;
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.form__name {
    position: absolute;
    top: 20px;
    font-size: 35px;
    color: #D9DADD;
}

.form_block {
    padding: 60px 30px 20px;
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
}

.form_block label {
    margin: 3px 0;
    display: flex;
    flex-direction: column;
    text-transform: none;
    line-height: 2;
}

.form_block input {
    color: black;
    padding: 10px;
    border: solid 2px rgba(202, 64, 64, 0.7);
    border-radius: 3px;
    margin: 0;
}

.radio {
    display: inline-block !important;
}

.form_block__btn {
    margin-top: 25px;
    display: block;
    position: relative;
    left: -140px;
    bottom: 3px;
}

/* *****  карта яндекс****************/

/* ***********футер ************** */
.footer {
    background: url(../Paintball/GfCF6F8zDn.jpg) no-repeat;
    background-size: cover;
}

.footer_content {
    max-width: 1140px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.footer__logo {
    width: 10%;
    background: #CA4040;
    box-sizing: content-box;
    border: solid 15px #CA4040;
    margin: 18px 3px;
}

.footer_contact {
    text-transform: none;
    line-height: 2;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.footer_contact span {
    font-weight: bold;
    text-transform: none;
}

/***************** медиазапросики ***************************************************************/
/* medium devices, desktops */
@media only screen and (max-width: 992px) {

    .privilege_img_block {
        flex-basis: 376px;
    }

    .price_name {
        border-bottom: 35px solid rgba(202, 64, 64, 0.7);
    }

    .price_name__span {
        font-size: 14px;
    }

    .price_name__span span {
        font-size: 16px;
    }
}

/* small devices, tablets */
@media only screen and (max-width: 768px) {
    .nav_head .head_nav__link {
        display: none;
    }

    .burger_btn {
        display: block;
    }

    .nav_mobile {
        display: block;
    }

    .privilege_img_block {
        flex-basis: 260px;
        margin: -25px;
    }

    .privilege_img__clock,
    .privilege_img__party,
    .privilege_img__gun,
    .privilege_img__weather {
        height: 270px;
        width: 210px;
    }

    .privilege_img__clock::before,
    .privilege_img__gun::before,
    .privilege_img__party::before,
    .privilege_img__weather::before {
        content: "";
        left: 62px;
        top: 100px;
        width: 85px;
        height: 85px;
    }

    .privilege_img__clock::after,
    .privilege_img__gun::after,
    .privilege_img__party::after,
    .privilege_img__weather::after {
        content: "";
        top: 119px;
        left: 83px;
        width: 45px;
        height: 67px;
    }


    .price_list {
        flex-direction: column;
    }

    .photos_slider__img:nth-child(2) {
        transform: scale(3);
    }
}

/* Extra small devices, Phones */
@media only screen and (max-width: 480px) {

    .logo__img {
        border: solid 15px #CA4040;
    }

    .slider_info__text.up,
    .slider_info__text.midle,
    .slider_info__text.up2 {
        font-size: 30px;
    }

    .slider_info__text.down {
        font-size: 14px;
    }

    .main_slider__arrow {
        display: none;
    }

    .main_slider__info {
        margin: auto;
    }

    .privilege_img__clock,
    .privilege_img__party,
    .privilege_img__gun,
    .privilege_img__weather {
        height: 215px;
        width: 160px;
    }

    .privilege_img_block {
        flex-basis: 190px;
    }

    .privilege_img__clock::before,
    .privilege_img__gun::before,
    .privilege_img__party::before,
    .privilege_img__weather::before {
        content: "";
        left: 43px;
        top: 77px;
        width: 75px;
        height: 75px
    }

    .privilege_img__clock::after,
    .privilege_img__gun::after,
    .privilege_img__party::after,
    .privilege_img__weather::after {
        content: "";
        top: 92px;
        left: 59px;
        width: 45px;
        height: 67px;
    }

    .privilege__h2 {
        font-size: 38px;
    }

    .photos_slider__img:nth-child(2) {
        transform: scale(3.5);
    }

    .price_list {
        flex-direction: column;
    }

    .form {
        display: block;
    }

    .form__name {
        left: 30px;
    }

    .form_block__btn {
        display: block;
        bottom: 3px;
        left: 0;
        margin: auto;
        margin-top: 25px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

    .privilege_img_block {
        flex-basis: 150px;
    }

    .privilege_img__clock,
    .privilege_img__party,
    .privilege_img__gun,
    .privilege_img__weather {
        height: 215px;
        width: 160px;
    }

    .privilege_img__clock::before,
    .privilege_img__gun::before,
    .privilege_img__party::before,
    .privilege_img__weather::before {
        content: "";
        left: 43px;
        top: 77px;
        width: 75px;
        height: 75px
    }

    .privilege_img__clock::after,
    .privilege_img__gun::after,
    .privilege_img__party::after,
    .privilege_img__weather::after {
        content: "";
        top: 92px;
        left: 59px;
        width: 45px;
        height: 67px;
    }


    .photos_slider__img:nth-child(2) {
        transform: scale(5);
    }
}

/********* анимации ****/